src/main/mule/implementations/delete.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/salesforce 
		http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
		http://www.mulesoft.org/schema/mule/validation 
		http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
	">

	<flow name="deleteFlow" doc:id="7eaec4ec-9f52-4a54-bc95-bef41836cdf1" >
	
		<logger 
			level="INFO" 
			doc:name="start" 
			message="#[&quot;Delete itemId=&quot; ++ attributes.uriParams.'itemId']"/>
			
		<set-variable value="#[%dw 2.0&#10;output application/java&#10;---&#10;{&#10;    &quot;itemId&quot;: attributes.uriParams.'itemId' default &quot;&quot;&#10;}]" doc:name="otel Tags" doc:id="7520dd46-2640-4920-adcf-c8844ce646d2" variableName="openTelemetryTags" />

		<ee:transform doc:name="get itemId" doc:id="503d81c8-6327-4f57-8f31-4d36389bf3e3" >
			<ee:variables >
				<ee:set-variable variableName="itemId" ><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.'itemId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>

		<salesforce:delete 
			doc:name="Delete"
			config-ref="MicorpSalesforceConfig" >
			<salesforce:ids ><![CDATA[#[[vars.itemId]]]]></salesforce:ids>
		</salesforce:delete>

		<choice doc:name="Choice" doc:id="a08cf84c-6504-48a8-ac64-839ce3fdb793" >
			<when expression="#[payload.successful]" >
				<ee:transform doc:name="delete success" doc:id="a5079758-0a68-4fbc-aa18-fdbd88a584b7">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "${messages.record-deleted-success}"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="4dec6e0e-2fa3-451a-a654-3b5dc05bddb3" message='#["Error on deleting itemId=" ++ vars.itemId]'/>
				<ee:transform doc:name="Response" doc:id="7b4848b3-8b8b-43ad-8af7-980985117a89" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "${messages.record-doesnt-exist-relations}"
}
]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler ref="global-error-handler" />
	</flow>
	
</mule>
