src/main/mule/implementations/delete.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/salesforce 
		http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
		http://www.mulesoft.org/schema/mule/validation 
		http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
	">

	<flow name="deleteFlow">
	
		<logger 
			level="INFO" 
			doc:name="start" 
			message="#[&quot;Delete itemId=&quot; ++ attributes.uriParams.'itemId']" category="app"/>
			
		<set-variable value="#[%dw 2.0&#10;output application/java&#10;---&#10;{&#10;    &quot;itemId&quot;: attributes.uriParams.'itemId' default &quot;&quot;&#10;}]" doc:name="otel Tags" doc:id="7520dd46-2640-4920-adcf-c8844ce646d2" variableName="openTelemetryTags" />

		<ee:transform doc:name="get itemId">
			<ee:variables >
				<ee:set-variable variableName="itemId" ><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.'itemId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>

		<salesforce:delete 
			doc:name="Delete"
			config-ref="GlobalSalesforceConfig" >

			<salesforce:ids ><![CDATA[#[[vars.itemId]]]]></salesforce:ids>
		
		</salesforce:delete>

		<choice doc:name="Choice" >
			<when expression="#[payload.successful]" >
				<logger 
					level="DEBUG" 
					doc:name="Logger"
					message="Item deleted successfully" 
					category="app"/>
				<ee:transform doc:name="delete success" >
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "${messages.record-deleted-success}"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<logger
					level="DEBUG" 
					doc:name="Logger" 
					message='#["Error on deleting itemId=" ++ vars.itemId]'
					category="app"/>
				<ee:transform doc:name="Response" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "${messages.record-doesnt-exist-relations}"
}
]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable
							variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler ref="global-error-handler" />
	</flow>
	
</mule>
