src/main/mule/implementations/post.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/validation 
		http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
		http://www.mulesoft.org/schema/mule/salesforce 
		http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
">
	<flow name="post:\items:application\" doc:id="072529fa-ca24-46bb-9390-97285b58c550" >
		
		<logger 
			level="INFO" 
			doc:name="start" 
			message="#[&quot;Create item for orderId=&quot; ++ payload.orderId]"/>
		
		<set-variable value='#[%dw 2.0&#10;output application/java&#10;---&#10;{&#10;    "orderId": payload.orderId default "",&#10;    "category": payload.category default "",&#10;    "itemId": payload.id default ""&#10;}]' doc:name="otel Tags" doc:id="68064cb3-35bc-4da6-9362-fa08fd1eba0d" variableName="openTelemetryTags" />
		<set-variable value='#[attributes.requestUri ++ "/"]' doc:name="Set Location" variableName="location" />
		<ee:transform doc:name="Salesforce Item record" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
	{
		"Order__c": payload.orderId,
		sourceId__c: payload.id,
		Category__c: payload.category,
		quantity__c: payload.quantity,
		size__c: payload.size
	}
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create 
			type="Item__c" 
			doc:name="Create Item" 
			config-ref="GlobalSalesforceConfig" />
		<validation:is-true doc:id="c8d4fedb-ac40-433e-8536-86110b88e136" expression="#[payload.successful == true]" doc:name="create success?" />
		<ee:transform doc:name="Set Header" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="outboundHeaders" ><![CDATA[%dw 2.0
output application/java
---
{"Location": 
	( (vars.location as String)
		++ (payload.items[0].id as String)
	)
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Response Message">
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Item created successfully"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="global-error-handler" />
	</flow>
</mule>
