src/main/mule/implementations/post.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/validation 
		http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
		http://www.mulesoft.org/schema/mule/salesforce 
		http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
">

	<flow name="post:\items:application\">
		
		<logger 
			level="INFO" 
			doc:name="start" 
			message="#[&quot;Create item for orderId=&quot; ++ payload.orderId]"
			category="app"/>
		
		<set-variable 
			value='#[%dw 2.0&#10;output application/java&#10;---&#10;{&#10;    "orderId": payload.orderId default "",&#10;    "category": payload.category default "",&#10;    "itemId": payload.id default ""&#10;}]' 
			doc:name="otel Tags" 
			variableName="openTelemetryTags" />
			
		<set-variable 
			value='#[attributes.requestUri ++ "/"]' 
			doc:name="Set Location" 
			variableName="location" />
			
		<ee:transform doc:name="Salesforce Item record" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
	{
		"Order__c": payload.orderId,
		sourceId__c: payload.id,
		Category__c: payload.category,
		quantity__c: payload.quantity,
		size__c: payload.size
	}
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<salesforce:create 
			type="Item__c"
			doc:name="Create Item"
			config-ref="GlobalSalesforceConfig"/>
			
		<logger 
			level="DEBUG" 
			doc:name="Logger" 
			message="#[payload]" 
			category="app"/>

		<choice doc:name="verify success" >
			<when expression="#[payload.successful == true]">
				<logger 
					level="DEBUG" 
					doc:name="Logger"  
					message="Item created successfully" 
					category="app"/>

				<ee:transform doc:name="headers and response" >
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Item created successfully"
}]]></ee:set-payload>
					</ee:message>

					<ee:variables >
						<ee:set-variable 
							variableName="outboundHeaders" ><![CDATA[%dw 2.0
output application/java
---
{"Location": 
	( (vars.location as String)
		++ (payload.items[0].id as String)
	)
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>

			<otherwise >
				<logger 
					level="DEBUG" 
					doc:name="Logger"
					message="The item couldn't be created" 
					category="app"/>
				
				<ee:transform doc:name="Status 500 Response" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "${messages.record-create-error}"
}]]></ee:set-payload>
					</ee:message>

					<ee:variables >
						<ee:set-variable 
							variableName="httpStatus" ><![CDATA["500"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>

	</flow>
</mule>
